Source: asemantools
Section: libs
Priority: optional
Maintainer: Aseman Team <contact@aseman.co>
Build-Depends:
 debhelper (>= 10),
 qtbase5-dev (>= 5.2.0),
 qtpositioning5-dev (>= 5.2.0),
 libqt5sensors5-dev (>= 5.2.0),
 qt5keychain-dev,
 qt5-qmake,
 qtdeclarative5-dev,
 qtdeclarative5-dev (>= 5.2.0),
 qtmultimedia5-dev (>= 5.2.0),
 libqt5webkit5-dev (>= 5.1.0),
 libssl-dev,
Standards-Version: 3.9.8
Homepage: https://github.com/Aseman-Land/aseman-qt-tools
Vcs-Git: https://github.com/Aseman-Land/aseman-qt-tools.git

Package: asemantools
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Aseman tools for QtQML and Qml
 It's free and released under the GPLv3 license.
